@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #ffffff;
  --text-primary: #ffffff;
  --text-secondary: #000000;
}

body {
  background-color: #0a0011;
  font-family: Monospace;
  margin: 0;
  padding: 0;
}
